.card {
  background-color: #373e4b;
  font-family: Croissant One;
}

.card-text p {
  font-size: small;
}

.card-body {
  display: flex;
  justify-content: center;
  text-align: center;
}

iframe {
  /* border: solid 10px #373e4b; */
  border: none;
}

.map-container {
  padding: 15px;
  background-color: #373e4b;
  justify-content: center;
}
