body {
  background-color: #1a202c;
  color: white;
}

nav {
  background-color: #373e4b;
}

.navbar {
  padding: 0.5rem 12%;
  box-shadow: 0 4px 4px rgba(6, 8, 8, 0.1);
}

.navbar-brand {
  max-width: 100px;
}

/*Custom Styling Utility*/

.container-fluid {
  padding: 2% 12%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.innerBorder {
  border: solid white 2px;
  padding: 10px;
  
}

.darken {
  filter: brightness(60%);
}

/*Tile Styling*/

.custom-container,
.custom-container img {
  position: relative;
  text-align: center;
  max-height: 300px;
  max-width: 300px;
}

.innerBorder p {
  font-size: small;
}

footer {
  box-shadow: 0 4px 4px rgba(6, 8, 8, 0.1);
  background-color: #373e4b;
  padding: 15px;
  text-align: center;
}
